//  --------------------------------------------------------
//  media element with image
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

.o-media {
    display   : flex;
    flex-flow : row wrap;

    &__img {
        flex          : 1 1 auto;
        padding-right : s(5);

        > img {
            display : block;
        }
    }

    &__content {
        flex : 1 1 auto;
    }
}
