{#
########################################################
    block: 404
########################################################
#}

{# Layout Setting #}
{% extends "_layout/_main" %}


{# Block: Content #}
{% block content %}
{% cache %}

    <section class="wrapper">
        <h1>Seite nicht gefunden</h1>
        <p>Die Seite, welche Sie aufgerufen haben existiert leider nicht (mehr).</p>
        <p><a href="{{ siteUrl }}" alt="{{siteName}}">Zur Startseite</a></p>
    </section>

{% endcache %}
{% endblock %}