{#
########################################################
########################################################
    Content Blocks: 404
########################################################
########################################################
#}


{#
########################################################
    Settings: Layout & Meta
########################################################
#}

{# Layout Setting #}
{% extends "_layout/_main" %}


{#
########################################################
    Block: notFound
########################################################
#}

{% block content %}
{% cache %}

    <section class="wrapper">
        <h1>Seite nicht gefunden</h1>
        <p>Die Seite, welche Sie aufgerufen haben existiert leider nicht (mehr).<br>
        <a href="{{ siteUrl }}" alt="{{siteName}}">Zur Startseite</a></p>
    </section>

{% endcache %}
{% endblock %}