//  GLOBALS DEFAULT SCSS
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

//----------------------------------------------------------
// breakpoints horizontal
//----------------------------------------------------------

$media-direction : min;

$breakpoints : (
    'xs': 400px,
    's': 768px,
    'm': 960px,
    'l': 1024px,
    'xl': 1440px,
);

//----------------------------------------------------------
// breakpoints horizontal
//----------------------------------------------------------

$media-direction-v : min;

$breakpoints-v : (
    'xs': 480px,
    's': 768px,
    'm': 960px,
    'l': 1024px,
    'xl': 1440px,
);

//----------------------------------------------------------
// wrapper & gutters
//----------------------------------------------------------

// wrapper
$wrapper : 1440px;

// gutters horizontal
$space : 20px;

// gutter mapping
%gutter {
    padding-right : $space;
    padding-left  : $space;
}

//----------------------------------------------------------
// resets
//----------------------------------------------------------

html {
    box-sizing : border-box;
}

*,
*::before,
*::after {
    box-sizing : inherit;
}

img {
    max-width : 100%;
    height    : auto;
}

figure img {
    display   : block;
    max-width : inherit;
    width     : 100%
}

img.lazyload {
    width : 100%;
}

.gallery img {
    cursor : pointer;
}

button {
    padding : 0;
    border  : 0;
    outline : none;
}

//----------------------------------------------------------
// transitions
//----------------------------------------------------------

%transition {
    transition : all 150ms ease;
}
