//  LAYOUT SCSS
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

//  reset: box model
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

//  reset: img & svg
    img, svg {
        max-width: 100%;
        height: auto;
    }

    figure {
         margin: $space-medium 0 $space-big;
    }
    
    figure img {
        display: block;
        max-width: inherit;
        width: 100%
    }

//  lazysizes: blur fade
    img.lazyload {
         width: 100%;
    }

    .blur-up {
        filter: blur(5px);
        transition: filter 500ms;
    }

    .blur-up.lazyloaded {
        filter: blur(0);
    }

    .gallery img {
        cursor: pointer;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }

    body {
        min-height: 100vh;
        background: $color-secondary;
        overflow: hidden;
    }


//  wrapper & gutter
//  --------------------------------------------------------

    .wrapper {
        width: 100%;
        min-height: 100vh;
        padding: $space-big $space $space-big * 2;
        background-color: rgba($color-third, 0.85);

        @include breakpoint(xs) {
            padding: $space-big;
        }

        &--home {
            background-color: inherit;
        }

        &__inner {
            max-width: $wrapper;
            margin: 0 auto;
        }
    }

//  gutter
    %gutter {
        padding-right: $space;
        padding-left: $space;
    }