{#
########################################################
    template: main
########################################################
#}

<!DOCTYPE html>
<html lang="de">

{# include: head #}
{% include '_partials/_head.html' %}

<body>
    <!--[if lt IE 10]><div class="fallback"><b>Ihr Browser ist veraltet.<br>— Bitte Updaten.</b><p>Sie verwenden einen veralteten Browser (Internet Explorer 10 oder tiefer) mit <b>Sicherheitsschwachstellen</b> – daher kann die Webseite nicht angezeigt werden.</p><p>Aktualisieren Sie jetzt Ihren Web-Browser um die Webseite zu besuchen.<br>Mit einem Update surfen Sie in Zukunft <b>sicherer</b> und unterstützen die <b>moderne Webentwicklung</b>.</p><p>Danke für Ihr Verständnis<br><a href="http://inter-punkt.ch/" target="blank">inter-punkt. ag</a></p><p><a class="fallback__link" href="http://www.browser-update.org/de/update.html"><b>Mein Browser jetzt updaten (Anleitung)</b></a></p></div><![endif]-->

    {#  block: content #}
    {% block content %}
    {% endblock %}

    {# block: javascript #}
    {% if craft.config.devMode %}
        {#
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
        <script>
            WebFont.load({
              google: {
                families: ['FONTNAME:SIZE,SIZE2']
              }
            });
        </script>
        #}
        <script href="dev/scripts/main.js"></script>
    {% else %}
        {% cache %}
        {#
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
        <script>
            WebFont.load({
              google: {
                families: ['FONTNAME:SIZE,SIZE2']
              }
            });
        </script>
        #}
        <script href="/assets/scripts/app.min.css"></script>
        {% endcache %}
    {% endif %}
</body>
</html>