//  TYPOGRAPHY SCSS
//  copyright 2015 - 2016 by inter-punkt.ag
//  autor: selim imoberdorf
//  --------------------------------------------------------

//  font variables
//  --------------------------------------------------------

    $font-primary:                      'Helvetica Neue', Helvetica, Arial, sans-serif;
    $font-weight--light:                300;
    $font-weight--normal:               400;
    $font-weight--medium:               600;

    $base__font-size:                   16px;
    $base__line:                        1.4;

    $base__heading--h1:                 60px;
    $base__heading--h2:                 50px;
    $base__heading--h3:                 40px;
    $base__heading--h4:                 30px;
    $base__heading--h5:                 20px;
    $base__heading--h6:                 16px;
    $base__line--heading:               1.2;


//  font definition
//  --------------------------------------------------------

//  reset default font
    body {
        color: $color-font--primary;
        font-family: $font-primary;
        font-size: $base__font-size;
        line-height: $base__line;
    }


//  headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-primary;
        font-family: $font-primary;
        line-height: $base__line--heading;

        &.first {
            margin-top: 0;
        }

        &.gutter {
            @extend %gutter;
        }
    }

    h1 {
        font-size: $base__heading--h1;
    }

    h2 {
      font-size: $base__heading--h2;
    }

    h3 {
      font-size: $base__heading--h3;
    }

    h4 {
      font-size: $base__heading--h4;
    }

    h5 {
      font-size: $base__heading--h4;
    }

    h6 {
      font-size: $base__heading--h4;
    }


//  copy text
    p {
      font-size: $base__font-size;
    }

    b,
    strong {
      color: $black;
      font-weight: $font-weight--medium;
    }


//  links
    a,
    a:active,
    a:focus,
    a:hover {
      text-decoration: none;
      outline: none;
    }

    a {
      color: $color-primary;
    }

    a:active,
    a:focus,
    a:hover {
      color: $color-secondary;
    }


//  selection colors
//  --------------------------------------------------------

    ::selection {
      background: $color-primary;
      color: $black;
      text-shadow: none;
    }

    ::-moz-selection {
      background: $color-primary;
      color: $black;
      text-shadow: none;
    }


//  forms, inputs & buttons
//  --------------------------------------------------------

//  input
    input,
    textarea {
        border: none;
        outline: none;
        box-shadow: inherit;
        border-radius: inherit;
    }

    textarea {
        resize: none;
    }

//  buttons
    [role="button"],
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
        box-sizing: content-box;
    }

//  reset `button` and button-style `input` default styles
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button {
        background: none;
        border: 0;
        color: inherit;
        font: inherit;
        line-height: normal;
        overflow: visible;
        padding: 0;
        -webkit-appearance: button;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    input[type="submit"]:focus,
    input[type="reset"]:focus,
    input[type="button"]:focus,
    button:focus {
      outline: none;
    }

    input::-moz-focus-inner,
    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

//  palceholder
    ::-webkit-input-placeholder {
       color: $color-primary;
    }
    :-moz-placeholder {
       color: $color-primary;  
    }
    ::-moz-placeholder {
       color: $color-primary;  
    }
    :-ms-input-placeholder {  
       color: $color-primary;  
    }