//  --------------------------------------------------------
//  lazysizes styling
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

.lazyload,
.lazyloading,
.lazyloaded {
    transition-property : opacity;
    transition          : 0.25s ease(in-cubic);
}

.lazyload,
.lazyloading {
    opacity : 0;
}

.lazyloaded {
    opacity : 1;
}
