//  --------------------------------------------------------
//  global typo
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  body reset
//  --------------------------------------------------------

html,
body {
    color       : $COLOR-BRAND;
    font-family : $FONT-PRIMARY;
    @include fluid(16px, 20px);
    line-height : $BASE-LINE-HEIGHT;
}

//  --------------------------------------------------------
//  bold
//  --------------------------------------------------------

b,
strong {
    font-weight : bold;
}

//  --------------------------------------------------------
//  italic
//  --------------------------------------------------------

i,
em {
    font-weight : normal;
    font-style  : italic;
}
