//  --------------------------------------------------------
//  button reset
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

button {
    padding : 0;
    border  : 0;
    outline : none;
}
