//  --------------------------------------------------------
//  global list
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

ul,
ol {
    margin-top    : s(5);
    margin-bottom : s(5);
    padding-left  : s(2);
    line-height   : $BASE-LINE-HEIGHT;
}
