//  --------------------------------------------------------
//  global images and figures
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  img
//  --------------------------------------------------------

img {
    max-width : 100%;
    height    : auto;
}

//  --------------------------------------------------------
//  figure
//  --------------------------------------------------------

figure {
    margin : inherit;

    img {
        display : block;
    }
}
