//  --------------------------------------------------------
//  global heading
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  resets for all headings
//  --------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    color         : $COLOR-BRAND;
    font-family   : $FONT-PRIMARY;
    line-height   : $HEADING-LINE-HEIGHT;
    margin-top    : 0;
    margin-bottom : 0;
}

//  --------------------------------------------------------
//  heading: h1
//  --------------------------------------------------------

h1 {
    @include fluid(56px, 64px);
}

//  --------------------------------------------------------
//  heading: h2
//  --------------------------------------------------------

h2 {
    @include fluid(48px, 56px);
}

//  --------------------------------------------------------
//  heading: h3
//  --------------------------------------------------------

h3 {
    @include fluid(40px, 48px);
}

//  --------------------------------------------------------
//  heading: h4
//  --------------------------------------------------------

h4 {
    @include fluid(32px, 40px);
}

//  --------------------------------------------------------
//  heading: h5
//  --------------------------------------------------------

h5 {
    @include fluid(24px, 32px);
}

//  --------------------------------------------------------
//  heading: h6
//  --------------------------------------------------------

h6 {
    @include fluid(16px, 24px);
}
