//  --------------------------------------------------------
//  global selection
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

::selection {
    background-color : $COLOR-BRAND;
    color            : $COLOR-ACCENT;
    text-shadow      : none;
}

::-moz-selection {
    background-color : $COLOR-BRAND;
    color            : $COLOR-ACCENT;
    text-shadow      : none;
}
