{#
########################################################
    site: index
########################################################
#}

{# layout settings #}
{% extends "_layouts/_master.twig" %}

{# block: content #}
{% block content %}
    {% cache if not craft.config.devMode %}

    <h1>Your Craft CMS is working well!</h1>
    <p>Generator by <a href="http://inter-punkt.ch" target="_blank">inter-punkt ag.</a> – Selim «Slim» Imoberdorf</p>

    {% endcache %}
{% endblock %}
