{#
########################################################
    site: index
########################################################
#}

{# layout settings #}
{% extends "_layouts/_master.twig" %}

{# block: content #}
{% block content %}
    {% cache if not craft.config.devMode %}

    <section class="wrapper">
        <h1>Your Craft CMS<br>is working well!</h1>
        <p>Generator by <a href="http://inter-punkt.ch" target="_blank">inter-punkt ag.</a> – Selim Imoberdorf</p>
    </section>

    {% endcache %}
{% endblock %}
