//  --------------------------------------------------------
//  global colors variables
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  brand
//  --------------------------------------------------------

//  --------------------------------------------------------
//  base
//  --------------------------------------------------------

$COLOR-BLACK : #000000;
$COLOR-WHITE : #ffffff;

//  --------------------------------------------------------
//  color mapping
//  --------------------------------------------------------

$COLOR-BRAND : $COLOR-BLACK;
$COLOR-ACCENT : $COLOR-WHITE;
