//  --------------------------------------------------------
//  global layout variables
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  fluid units settings
//  --------------------------------------------------------

$ip-width-min : 320px;
$ip-width-max : 1200px;
$ip-space : 2px;

//  --------------------------------------------------------
//  breakpoints via include-media (lowercase!)
//  --------------------------------------------------------

$breakpoints : (
        'xs': 400px,
        's': 768px,
        'm': 960px,
        'l': 1024px,
        'xl': 1230px,
);

//  --------------------------------------------------------
//  default page-wrapper
//  --------------------------------------------------------

$WRAPPER : 1280px;

%wrapper {
    max-width    : $WRAPPER;
    margin-right : auto;
    margin-left  : auto;
}
