//  --------------------------------------------------------
//  global typo variables
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

//  --------------------------------------------------------
//  font family
//  --------------------------------------------------------

$FONT-PRIMARY : Helvetica, Arial, sans-serif;

//  --------------------------------------------------------
//  line-height's
//  --------------------------------------------------------

$BASE-LINE-HEIGHT : 1.5;
$HEADING-LINE-HEIGHT : 1.2;
