//  --------------------------------------------------------
//  clearfix global
//  copyright 2015 - 2017 by interpunkt. ag
//  author: selim imoberdorf
//  --------------------------------------------------------

@mixin clearfix {
    &::after {
        content : '';
        display : block;
        clear   : both;
    }
}
